*{ /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 100%;
}

/* Header and Nav Styles */

header{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgb(45, 45, 45);
    padding: 1rem;
    width: 100%;
    color: #fff;
    text-align: center;
}

.header-box1{
    flex: 1 1 20%;
}

.header-box2{
    flex: 1 1 40%;
}

.header-box3{
    flex: 1 1 20%;
}

.header-box3 button{
    background-color: rgb(72, 94, 139);
    color: #fff;
    padding: 4px 10px;
    border: none;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 500px;
    gap: 1rem;
    justify-content: center;
}

header nav a{
    flex: 0 0 20%;
    text-decoration: none;
    color: #fff;
}

/* Hero Styles */

.hero{
    background-image: url("/images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.hero-inner-container{
    background-color: rgba(00, 00, 00, .8);
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 2rem 4rem;
}

.hero-inner-image{
    overflow: hidden;
    flex: 1 1 200px;
}

.hero img{
    border: 5px solid #fff;
    border-radius: 15px;
    width: 100%;
}

.hero-inner-content{
    flex: 2 2 400px;
}


.hero-inner-content h1{
    text-align: left;
    font-size: clamp(40px, 5vw, 70px);
    line-height: 4rem;
}

.hero-inner-container p{
    text-align: left;
    font-size: clamp(16px, 2vw, 20px);
    display: inline-block;
}

/* Main Body Styles */

main, footer{
    width: 90%;
    margin: 0 auto;
}

p{
    text-align: left;
    padding: 1rem;
}

/* h1, h2, h3, h4, h5, h5{
    text-align: center;
} */

header{
    background-color: rgb(45, 45, 45);
    padding: 2rem;
}

.logo{
    width: 70%;
}

.logo img{
    width: 100%;
}

.gallery{
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
    margin: 0 auto;
}

.gallery-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-box{
    width: 200px;
    margin: 2rem;
}

.gallery-box p{
    text-align: center;
}
