*{ /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 100%;
}

body{
    background-color: rgb(45, 45, 45);
    color: #fff;
}

.bold-italic{
    font-weight: 800;
    font-style: italic;
}

/* Header and Nav Styles */

header{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgb(45, 45, 45);
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10vw;
}

.header-box1{
    flex: 1 1 15%;
}

.header-box2{
    flex: 1 1 30%;
}

.header-box3{
    flex: 1 1 15%;
}

.header-box3 button{
    background-color: rgb(72, 94, 139);
    color: #fff;
    padding: .5rem 1rem;
    border: none;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 500px;
    gap: 1rem;
    justify-content: center;
}

header nav a{
    flex: 1 1 20%;
    text-decoration: none;
    color: #fff;
}

/* TOGGLE SWITCH STYLES STARTS */

.toggle{
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    
    display: none;
    cursor: pointer;
    margin: 0 auto;
    order: 1;
}

.toggle-input{
    display: none;
}

.toggle-fill{
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: rgb(202, 202, 202);
    transition: background 200ms;
}

.toggle-input:checked ~ .toggle-fill{
    background: rgb(72, 94, 139);
}


.toggle-fill::after{
    content: 'M';
    height: var(--height);
    width: var(--height);
    border-radius: var(--border-radius);
    display:flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: rgb(72, 94, 139);
    padding: .1rem;
    transition: transform 200ms;    
}

.toggle-input:checked ~ .toggle-fill::after{
    transform: translateX(var(--height));
}

/* TOGGLE SWITCH STYLES ENDS */

/* Hero Styles */

.hero{
    background-image: url("/images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.hero-inner-container{
    background-color: rgba(00, 00, 00, .8);
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    align-items: center;
}

.hero-inner-image{
    flex: 1 1 30%;
    margin: 0;
    padding: 0;
}

.hero img{
    border: 5px solid #fff;
    border-radius: 15px;
    width: 80%;
}

.hero-inner-content{
    flex: 2 2 50%;
    padding: 0;
    margin: 0;
}


.hero-inner-content h1{
    text-align: left;
    font-size: clamp(28px, 5vw, 48px);
    line-height: 3rem;
    padding: 1rem;
}

.hero-inner-container p{
    text-align: left;
    font-size: clamp(12px, 1.8vw, 18px);
    display: inline-block;
}

/* Main Body Styles */

main, footer{
    width: 90%;
    margin: 0 auto;
}

p{
    text-align: left;
    padding: 1rem;
}

/* h1, h2, h3, h4, h5, h5{
    text-align: center;
} */

header{
    background-color: rgb(45, 45, 45);
    padding: 2rem;
}

.logo{
    width: 70%;
}

.logo img{
    width: 100%;
}

.gallery{
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
    margin: 0 auto;
}

.gallery p{
    padding: 3rem;
}

.gallery-box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.gallery-box{
    flex: 1 1 200px;
    text-align: center;
    border-radius: 10px;
    padding: .5rem;
    border: 1px solid #fff;
}

.gallery-box img{
    border: 3px solid #fff;
    border-radius: 10px;
}

.gallery-box p{
    text-align: left;
}

.fab{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    margin: .6rem;
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    align-items: center;
}

.section-bottom{
    border-top: 2px solid rgb(158, 158, 158);
    margin: 2rem;
}

.about-me{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.about-me-box{
    display: flex;
    padding: 2rem;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.about-me-box img{
    flex: 1 1 16vw;
    margin: 2rem;
    border-radius: 50%;
    border: 5px solid #fff;
}

.about-me-box p{
    flex: 2 2 60vw;
}

.about-me h3{
    margin: 2rem;
}

.gallery h1,
.contact-page h1{
    margin: 4rem;
}

.contact-page{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}



.contact-page form{
    padding: 2rem;
    margin: 2rem;
    text-align: left;
}

.form-container{
    display: flex;
}

.contact-image{
    width: 100%;
    height: 100%;
    margin: 2rem;
    border: 5px solid #fff;
    border-radius: 15px;
} 